{% extends 'base.html.twig' %}

{% block title %}Se connecter - {{ parent() }}{% endblock %}

{% block body %}

    <div class="col-xl-4 col-md-6 col-sm-12 mx-auto">
        <div class="container-xxl bg-dark mt-3 p-3 rounded text-white">
            <div class="row">
                <h2 class="border-3 border-bottom border-success pb-2"><span class="fw-bold text-success">&sol;&sol;</span> Se connecter</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger mb-0 mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        
                        <label class="my-3" for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label class="my-3" for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="checkbox mt-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Rester connecté(e)
                            </label>
                        </div>
                        <button class="btn btn-success mt-3" type="submit">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
